/KPI_Duties_DB.iml
.idea
node_modules/
frontend-build/
.sass-cache/
bower_components/
app/bower_components
.DS_Store
.tmp
ios
.yo-rc.json
.jshintrc
.gitattributes
.editorconfig
npm-debug.log
.idea_modules/
/out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
.tern-project
build-analyze.log
dist/
/target
/build/
/gradlew
/logs/
/gradle/
/.gradle/
/gradlew.bat
