.ctrl-dc-box-res {

  .box-body {
    display: flex;
    flex-direction: column;
  }

  .fa-link {
    transform: rotate(-45deg);
  }

  .alert--add-new-occup-dc-val {
    margin: 10px 0 0 0;
  }

  .btn-show-adding-inp-wrapper {

    .btn-show-adding-inp {
      border-radius: 0 0 10px 10px;
      //width: 100px;
    }
  }

  .show-for-big-text {
    display: none !important;
  }
  .has-big-text .show-for-big-text {
    display: block !important;
  }
  .hide-for-big-text {
    display: block !important;
  }
  .has-big-text .hide-for-big-text {
    display: none !important;
  }

  .btn-update-occupation-names-list {
    padding-top: 10px;
    display: block;
  }

}
