.header-logo {
  /*background: url("../img/lines-small-part.png") transparent 0 18px no-repeat;*/

  .header-logo-img {

  }

  .header-logo-text {
    text-transform: uppercase;
    color: white;
    /*margin: 0 0 0 30px;*/
    padding: 10px 10px 0px 25px;
    font-family: cursive;
  }
  .header-logo-text--abbr {
    font-size: 1.8em;
  }
  .header-logo-text--full {
    /*font-size: 1.25em;*/
  }
}