


.search-form {

}

    .search-form-inner {
        
    }
    .search-min, .search-extended {
        padding: 0 20px 20px;
    }
    .search-min {
    }
    .search-extended {

    }

        .search-form-fieldset {
            border: 1px solid #c0c0c0;
            margin: 0;
            padding: 0.35em 0.625em 0.75em;
        }

            .search-form-legend {
                border: none;
                width: auto;
            }

            .search-min .search-form-legend--extended,
            .search-extended .search-form-legend--min{
                display: none;
                /*transform: 0.5s fade-in, fade-out;*/
            }

            .search-min .search-form-field--extended,
            .search-extended .search-form-field--min{
                display: none;
                /*transform: 0.5s slide-down, slide-up;*/
            }

            .search-min .btn-toggle-icon--extended,
            .search-extended .btn-toggle-icon--min{
                display: none;
                /*transform: 0.5s slide-down, slide-up;*/
            }

            .search-form-checkbox {
                width: 18px;
                border-radius: 0;
                border: none;
                box-shadow: none;
            }

        .btn-toggle-extended-search {
            border-color: #c0c0c0;
            display: block;
            background-color: white;
            border-top: 0;
            text-align: center;

        }
        .btn-toggle-extended-search:hover {

        }