.header-menu {
  text-align: center;

  .header-menu-navbar {
    margin: 0 auto;
    font-size: 1.2em;

    .header-menu-item {
      float: left;

      //& > a {
      //  line-height: 2.6em;
      //}
    }
  }
}



@media (max-width: 768px) {
  .header-menu {
    display: flex;
    justify-content: flex-end;

    .header-menu-navbar  {
      margin: 0;

      .header-menu-item {
        float: right;

        & > a {
          line-height: 1em;
        }
      }
    }
  }
}